doctype html
html
	head
		meta
		title imooc jade study
	body
		script
			a = 1
		h1.title#title.aaa.bbb(class='title1') imooc jade study
		#id.classname
		a(href='',title='imooc',data-uid='1000') link
		input(name='aa',type='text',vule='jade')
		input(name='type',type='checkbox',check)
		p.
			1. aa
			2. bb
			<span>22</span>
			3. c


	